<section class="catalog">
<h1 class="catalog_title">Catalog</h1>
<ul class="catalog_menu">
	<a href="#all"><li class="catalog_list catalog_list__active">ALL</li></a>
	<a href="#tshirts"><li class="catalog_list">T-SHIRTS</li></a>
	<a href="#sweaters"><li class="catalog_list">SWEATERS</li></a>
	<a href="#shorts"><li class="catalog_list">SHORTS</li></a>
	<a href="#jackets"><li class="catalog_list">JACKETS</li></a>
	<a href="#accessoires"><li class="catalog_list">ACCESSOIRES</li></a>
</ul>
	<div class="catalog_container">
		<div class="product">
			<img src="img/product_1.jpg" alt="product_1" class="product_photo">
			<h3 class="product_name">Printed swimsuit</h3>
			<div class="product_prices"><span class="product_prize">$23</span></div>
		</div>
		<div class="product">
			<img src="img/product_2.jpg" alt="product_2" class="product_photo">
			<h3 class="product_name">Jogging bermuda shorts</h3>
			<div class="prices"><span class="product_prize__old">$36</span><span class="product_prize product_prize__hot">$12</span></div>
		</div>
		<div class="product">
			<img src="img/product_3.jpg" alt="product_3" class="product_photo">
			<h3 class="product_name">Basic beach flip flops</h3>
			<div class="prices"><span class="product_prize">$9</span></div>
		</div>
		<div class="product">
			<img src="img/product_4.jpg" alt="product_4" class="product_photo">
			<h3 class="product_name">Black Sunglasses</h3>
			<div class="prices"><span class="product_prize">$29</span></div>
		</div>
		<div class="product">
			<img src="img/product_5.jpg" alt="product_5" class="product_photo">
			<h3 class="product_name">Long sleeved twill shirt</h3>
			<div class="prices"><span class="product_prize">$20</span></div>
		</div>
		<div class="product">
			<img src="img/product_6.jpg" alt="product_6" class="product_photo">
			<h3 class="product_name">Basic swimsuit</h3>
			<div class="prices"><span class="product_prize">$36</span></div>
		</div>
		<div class="product">
			<img src="img/product_7.jpg" alt="product_7" class="product_photo">
			<h3 class="product_name">Bleached shorts</h3>
			<div class="prices"><span class="product_prize">$12</span></div>
		</div>
		<div class="product">
			<img src="img/product_8.jpg" alt="product_8" class="product_photo">
			<h3 class="product_name">T-shirt with lower panel</h3>
			<div class="prices"><span class="product_prize__old">$32</span><span class="product_prize product_prize__hot">$12</span></div>
		</div>
	</div>
	<button class="contacts_more">Load more...</button>
</section>