<header>
	<div class="topmenu">
		<ul class="topmenu_sections">
			<li class="topmenu_section">DELIVERY</li>
			<li class="topmenu_section">FAQ</li>
			<li class="topmenu_section">HELP</li>
		</ul>
		<ul class="topmenu_selects">
			<li class="topmenu_select">DOLARS</li>
			<li class="topmenu_select">EN</li>
		</ul>
	</div>
	<div class="btmenu">
	<div class="btmenu_container">
		<img class="btmenu_logo" src="/img/logo.png" alt="c&b">
			<ul class="btmenu_nav">
				<li class="btmenu_item">HOME</li>
				<li class="btmenu_item btmenu_item__active">CATALOG</li>
				<li class="btmenu_item">NEWS</li>
				<li class="btmenu_item btmenu_item__hot">SALE</li>
				<li class="btmenu_item">ABOUT</li>
				<li class="btmenu_item">CONTACT</li>
			</ul>
		<div class=btmenu_tools>
			<div class="btmenu_item">YOUR BAG</div>
			<button class="btmenu_bag">2</button>
			<button class="btmenu_find"></button>
		</div>
		</div>
	</div>
</header>