.footer{
		@extend .page-wrapper;
		display: flex;
		justify-content: space-between;
	&_logo{
		width: 94px;
		height: 39px;
	}
	&_nav{
		max-width: 572px;
		width: 50%;
		display: flex;
		justify-content:space-between;
	}
	&_item{
		@extend .menu-item;
		color: $black;
	}
	&_copyright{
		font-family: Lato;
		color:$grey;
		font-size: 12px;
	}
}