//-----------------------------
//------Variables--------------
//-----------------------------

//width&height
$page-width: 1150px;

//color-variables
$black: #303030;
$grey: #a7a7a7;
$grey-line: #ededed;
$blue: #367ec1;
$red: #fc411d;

//adaptive
//for media queries
$phone: "screen and (min-device-width: 320px) and (max-device-width: 889px)";
$pc: "screen and (min-device-width: 890px)";